<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="29797SanjayUpadhyaya.BitdotLyURLShortner" Publisher="CN=423C18D8-46A2-41B2-B201-740A4FC536E4" Version="1.0.0.2" />
  <Properties>
    <DisplayName>Bit dot Ly URL Shortner</DisplayName>
    <PublisherDisplayName>SanjayUpadhyaya</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Bit.Ly_URL_Shortner.App">
      <VisualElements DisplayName="Bit dot Ly URL Shortner" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Bit.Ly URL Shortner" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>